trigger:
- main

pool:
  name: cluster-pool

steps:
- checkout: self

# Login to Docker Hub
- task: Docker@2
  displayName: Login to Docker Hub
  inputs:
    command: login
    containerRegistry: dockerhub-connection   # your Docker Hub service connection name

# Build Docker Image
- task: Docker@2
  displayName: Build Docker Image
  inputs:
    command: build
    Dockerfile: Dockerfile
    repository: prasanthrajrp/nginx-webapp
    tags: |
      latest
      $(Build.BuildId)

# Push Docker Image to Docker Hub
- task: Docker@2
  displayName: Push Docker Image
  inputs:
    command: push
    repository: prasanthrajrp/nginx-webapp
    tags: |
      latest
      $(Build.BuildId)
    containerRegistry: dockerhub-connection

# Deploy to Kubernetes (sample-app namespace)
- script: |
    kubectl set image deployment/nginx-webapp \
      nginx-webapp=prasanthrajrp/nginx-webapp:$(Build.BuildId) \
      -n sample-app
  displayName: Deploy to Kubernetes (sample-app namespace)
