apiVersion: v1
kind: Service
metadata:
  name: sample-app
  namespace: sample-app
spec:
  type: NodePort
  selector:
    app: sample-app
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000

